backend/app/__init__.py
backend/app/__pycache__
backend/app/db.sqlite3

frontend/.ipynb_checkpoints
frontend/uploads/*
frontend/out/*
!frontend/uploads/.gitkeep
!frontend/out/.gitkeep

frontend/.cache/
frontend/.ipython/
frontend/.local/
frontend/.npm
frontend/.jupyter